*{margin:0;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 768px) {
  .shopcategory-banner,
  .shopcategory-indexSort {
    width: 90%;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .shopcategory-banner,
  .shopcategory-indexSort {
    width: 100%;
  }
  .shopcategory-products {
    grid-template-columns: 1fr;
  }
  .shopcategory-loadmore {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}
