/* Popular component container */
.popular {
    max-width: 1280px;
    margin: auto;
    padding: 20px;
    text-align: center; /* Center-align content */
  }
  
  /* Heading */
  .popular h1 {
    color: #171717;
    font-size: 2.5rem; /* Using rem units for scalability */
    font-weight: 600;
    margin-bottom: 20px; /* Increase spacing between heading and items */
  }
  
  /* Horizontal rule */
  .popular hr {
    width: 150px;
    height: 4px;
    border: none; /* Remove default border */
    background: #252525;
    margin-bottom: 40px; /* Increase spacing between HR and items */
  }
  
  /* Popular items container */
  .popular-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 800px) {
    .popular h1 {
      font-size: 2rem; /* Reduce font size for smaller screens */
    }
    .popular hr {
      width: 80px;
      height: 3px; /* Adjust HR height */
    }
  }
  